{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div id="cart-notification-product-{{ item.key }}" class="cart-item">
      {%- if item.product.metafields.custom.images -%}
        {% for image in item.product.metafields.custom.images.value %}
          {%- if forloop.index == 1 -%}
            <div class="cart-notification-product__image-container global-media-settings">
              <img
                src="{{ image | image_url: width: 140 }}"
                alt="{{ image.alt | escape }}"
                width="162"
                height="162"
                loading="lazy"
                class="cart-notification-product__image"
              >
            </div>
          {%- endif -%}
        {% endfor %}
      {%- endif -%}
      <div class="cart-notification-product__details-container">
        {%- if settings.show_vendor -%}
          <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
        {%- endif -%}
        <h3 class="cart-notification-product__name h4">
          {{ item.product.title | escape }}, {{ item.product.metafields.custom.type | escape }}
        </h3>
        <div class="text-label">{{ item.product.metafields.custom.series }}</div>
        <div class="text-label">{{ item.product.metafields.custom.header_material }}</div>
        <dl>
          {%- unless item.product.has_only_default_variant -%}
            {%- for option in item.options_with_values -%}
              <div class="product-option hide_in_mobile">
                {% comment %} <dt>{{ option.name }}:</dt> {% endcomment %}
                <dd>{{ option.value }}</dd>
              </div>
            {%- endfor -%}
          {%- endunless -%}
          {%- for property in item.properties -%}
            {%- assign property_first_char = property.first | slice: 0 -%}
            {%- if property.last != blank and property_first_char != '_' -%}
              <div class="product-option hide_in_mobile">
                {% comment %} <dt>{{ property.first }}:</dt> {% endcomment %}
                <dd>
                  {%- if property.last contains '/uploads/' -%}
                    <a href="{{ property.last }}" class="link" target="_blank">
                      {{ property.last | split: '/' | last }}
                    </a>
                  {%- else -%}
                    {{ property.last }}
                  {%- endif -%}
                </dd>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </dl>
        {%- if item.selling_plan_allocation != null -%}
          <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
        {%- endif -%}
        <div class="text-section-title cart-notification-product__price">
          {{ item.product.price | money_with_currency }}
        </div>
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}
