{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign hide_title = false
  assign bgcolor = 'white'
  if page.title == 'Privacy_Policy'
    assign bgcolor = '#98A7EA'
  endif
  if page.title == 'Terms_And_Conditions'
    assign bgcolor = '#E6E8D0'
  endif
  if page.title == 'FAQ'
    assign bgcolor = '#E4BB9D'
    assign hide_title = true
  endif
-%}

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    .header-wrapper {
      background-color: {{bgcolor}} !important;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

    .accordion__content-grid {
      display: inline-grid;
      grid-column-start: 3;
      grid-column-end: 11! important;
      padding: 0;
  }

  .accordion__content {
    overflow-y: auto !important;
    margin-bottom: 3rem;
  }
{%- endstyle -%}

<div class="page-width section-{{ section.id }}-padding {% if hide_title %}hidden{% endif %}">
  <div class="grid-container">
    <div class="main-page-title">
      <h1 class="page-title h2{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        {{ page.title | escape | replace: '_', ' ' | replace: 'And', '&' }}
      </h1>
    </div>
    <div class="main-page-content text-body rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
